.movie-card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.movie-card:hover {
}

.details-button:hover {
  background-color: #016450;
}

.fa-chevron-right {
  margin-left: 10px;
}

.moviecard-container {
  box-shadow: rgb(79, 118, 160) 0px 20px 25px -15px;
  
}