.moviecard-container {
  height: 480px;
}

.movie-card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.movie-card:hover {
    box-shadow: rgb(86, 130, 177) 0px 20px 30px -10px;
}

.details-button {
  width: 80%;
  position: absolute;
  bottom: 10px;
  margin-left: 8px;
  background-color: #009c7c;
}

.details-button:hover {
  background-color: #016450;
}

.fa-chevron-right {
  margin-left: 10px;
}
