.card-body {
    background-color: #282828 !important;
}

.card-body:hover {
    box-shadow: rgb(86, 130, 177) 0px 20px 30px -10px;
}

.btn-primary {
    background-color: #009C7C;
}

.btn-primary:hover {
    background-color: #016450;
}

.btn-primary:focus {
    background-color: #016450;
}

.hr {
    background-color: #3c3c3c;
}

.movie-details {
    color: #fff;
}

.list-group:hover {
    box-shadow: rgb(86, 130, 177) 0px 20px 30px -10px;
}

.list-group-item {
    background-color: #282828;
}