.webintern-footer {
    
    }
    .tt-copy
    {
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    background: #282828;
    padding: 30px 0;
    font-family: 'Open Sans', sans-serif;
    }
    .tt-copy-right {
    text-align: right;
    }
    
    .samuravi,
    .mams0n {
        color: #009C7C;
        font-weight: bold;
    }