.MuiInputBase-root {
    color: #fff !important;
}

.MuiFormLabel-root {
    color: #fff !important;
}

.MuiOutlinedInput-notchedOutline {
    color: #fff !important;
}

/* .MuiOutlinedInput-root .Mui-focused
.MuiOutlinedInput-notchedOutline {
    border: 5px solid red !important;
} */

.MuiOutlinedInput-notchedOutline {
    border-color: #fff !important;
}

.MuiButton-containedPrimary {
    color: #fff;
    background-color: #009C7C !important;
}

.MuiCheckbox-colorPrimary.Mui-checked {
    color: #009C7C !important;
}

.MuiTypography-colorPrimary {
    color: #fff !important;
}

.MuiTypography-h5 {
    color: #fff
}

.MuiTypography-body1 {
    color: #fff;
}

.makeStyles-paper-17 {
    color: red !important;
}